<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hachimiSys.mapper.CaseImageMapper">
    
    <resultMap type="CaseImage" id="CaseImageResult">
        <result property="caseImageId"    column="case_image_id"    />
        <result property="caseId"    column="case_id"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="sort"    column="sort"    />
        <result property="hidden"    column="hidden"    />
        <result property="uploadTime"    column="upload_time"    />
    </resultMap>

    <sql id="selectCaseImageVo">
        select case_image_id, case_id, image_url, sort, hidden, upload_time from case_image
    </sql>

    <select id="selectCaseImageList" parameterType="CaseImage" resultMap="CaseImageResult">
        <include refid="selectCaseImageVo"/>
        <where>  
            <if test="caseId != null "> and case_id = #{caseId}</if>
        </where>
    </select>
    
    <select id="selectCaseImageByCaseImageId" parameterType="Long" resultMap="CaseImageResult">
        <include refid="selectCaseImageVo"/>
        where case_image_id = #{caseImageId}
    </select>

    <insert id="insertCaseImage" parameterType="CaseImage" useGeneratedKeys="true" keyProperty="caseImageId">
        insert into case_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="caseId != null">case_id,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="sort != null">sort,</if>
            <if test="hidden != null">hidden,</if>
            <if test="uploadTime != null">upload_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="caseId != null">#{caseId},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="sort != null">#{sort},</if>
            <if test="hidden != null">#{hidden},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
         </trim>
    </insert>

    <update id="updateCaseImage" parameterType="CaseImage">
        update case_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseId != null">case_id = #{caseId},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="hidden != null">hidden = #{hidden},</if>
            <if test="uploadTime != null">upload_time = #{uploadTime},</if>
        </trim>
        where case_image_id = #{caseImageId}
    </update>

    <delete id="deleteCaseImageByCaseImageId" parameterType="Long">
        delete from case_image where case_image_id = #{caseImageId}
    </delete>

    <delete id="deleteCaseImageByCaseImageIds" parameterType="String">
        delete from case_image where case_image_id in 
        <foreach item="caseImageId" collection="array" open="(" separator="," close=")">
            #{caseImageId}
        </foreach>
    </delete>
</mapper>