<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hachimiSys.mapper.PetHealthRecordMapper">
    
    <resultMap type="PetHealthRecord" id="PetHealthRecordResult">
        <result property="healthId"    column="health_id"    />
        <result property="petId"    column="pet_id"    />
        <result property="recordType"    column="record_type"    />
        <result property="content"    column="content"    />
        <result property="doctor"    column="doctor"    />
        <result property="hospital"    column="hospital"    />
        <result property="recordTime"    column="record_time"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="hidden"    column="hidden"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectPetHealthRecordVo">
        select health_id, pet_id, record_type, content, doctor, hospital, record_time, create_user_id, hidden, create_time from pet_health_record
    </sql>

    <select id="selectPetHealthRecordList" parameterType="PetHealthRecord" resultMap="PetHealthRecordResult">
        <include refid="selectPetHealthRecordVo"/>
        <where>  
            <if test="petId != null "> and pet_id = #{petId}</if>
        </where>
    </select>
    
    <select id="selectPetHealthRecordByHealthId" parameterType="Long" resultMap="PetHealthRecordResult">
        <include refid="selectPetHealthRecordVo"/>
        where health_id = #{healthId}
    </select>

    <insert id="insertPetHealthRecord" parameterType="PetHealthRecord" useGeneratedKeys="true" keyProperty="healthId">
        insert into pet_health_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="petId != null">pet_id,</if>
            <if test="recordType != null">record_type,</if>
            <if test="content != null">content,</if>
            <if test="doctor != null">doctor,</if>
            <if test="hospital != null">hospital,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="hidden != null">hidden,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="petId != null">#{petId},</if>
            <if test="recordType != null">#{recordType},</if>
            <if test="content != null">#{content},</if>
            <if test="doctor != null">#{doctor},</if>
            <if test="hospital != null">#{hospital},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="hidden != null">#{hidden},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updatePetHealthRecord" parameterType="PetHealthRecord">
        update pet_health_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="petId != null">pet_id = #{petId},</if>
            <if test="recordType != null">record_type = #{recordType},</if>
            <if test="content != null">content = #{content},</if>
            <if test="doctor != null">doctor = #{doctor},</if>
            <if test="hospital != null">hospital = #{hospital},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="hidden != null">hidden = #{hidden},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where health_id = #{healthId}
    </update>

    <delete id="deletePetHealthRecordByHealthId" parameterType="Long">
        delete from pet_health_record where health_id = #{healthId}
    </delete>

    <delete id="deletePetHealthRecordByHealthIds" parameterType="String">
        delete from pet_health_record where health_id in 
        <foreach item="healthId" collection="array" open="(" separator="," close=")">
            #{healthId}
        </foreach>
    </delete>
</mapper>